name: "Test CI/CD"
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test1:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout code
         uses: actions/checkout@v3
       - name: setup Python
         uses: actions/setup-python@v4
         with:
           python-version: "3.10"
       - name: Run test rectangle.py
         run: python3 -m unittest rectangle_test.py
       - name: Run test triangle.py
         run: python3 -m unittest triangle_test.py
       - name: Run test circle.py
         run: python3 -m unittest circle_test.py
       - name: Run test square.py
         run: python3 -m unittest square_test.py

  test2:
     runs-on: windows-latest
     steps:
       - name: Checkout code
         uses: actions/checkout@v3
       - name: setup Python
         uses: actions/setup-python@v4
         with:
           python-version: "3.10"
       - name: Run test rectangle.py
         run: python3 -m unittest rectangle_test.py
       - name: Run test triangle.py
         run: python3 -m unittest triangle_test.py
       - name: Run test circle.py
         run: python3 -m unittest circle_test.py
       - name: Run test square.py
         run: python3 -m unittest square_test.py
